@using Microsoft.AspNetCore.Html
@using Amazon.SimpleSystemsManagement
@using Amazon.SimpleSystemsManagement.Model
@inject IAmazonSimpleSystemsManagement SSMClient

<!DOCTYPE html>
<html lang="en">
<head>
    @try {
        @(new HtmlString(SSMClient.GetParameterAsync(new GetParameterRequest() { Name = "/petstore/rumscript" }).Result.Parameter.Value))
    } catch {
        <!-- RUM script not available -->
    }
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Observability PetAdoptions</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="~/css/petstyles.css"/>
    <style>
        * {
            font-family: 'Roboto', sans-serif;
        }
    </style>
</head>
<body>
<div class="pet-wrapper">
    <header class="pet-header">

        <div class="container">
            <article class="row" style="display: flex; align-items: center;">

                <section class="col-lg-4 col-md-4 col-12 align-self-center">
                    <a asp-controller="home" asp-action="index" asp-route-userId="@ViewBag.UserId">
                        <img src="~/images/brand.png" alt="Petadoption"/>
                    </a>
                </section>
                
                <section class="col-lg-8 col-md-8 col-12 align-self-center" style="display: flex; justify-content: flex-end; gap: 2rem;">
                    <a asp-controller="PetListAdoptions" asp-action="index" asp-route-userId="@ViewBag.UserId" id="seeadoptionlist" style="color: #7abaff; white-space: nowrap; text-decoration: none;">
                        See Adoption List
                    </a>
                    
                    <a asp-controller="Home" asp-action="HouseKeeping" asp-route-userId="@ViewBag.UserId" id="performhousekeeping" style="color: #7abaff; white-space: nowrap; text-decoration: none;">
                        Perform Housekeeping
                    </a>
                </section>
            </article>

        </div>
    </header>
    @RenderBody()


</div>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@RenderSection("Scripts", required: false)
</body>
</html>