@using PetSite.ViewModels;

@{
    ViewData["Title"] = "Home Page";
    @model PetDetails;
}

<section class="pet-hero">
    <div class="container">
        <img class="pet-hero-title" src="~/images/main_banner_text.png" />
    </div>
</section>

<section class="pet-filters">
    <div class="container">
        <form method="get">
            <label class="pet-label" data-title="Type">
                <select name="selectedPetType" asp-for="@Model.Varieties.SelectedPetType" asp-items="@Model.Varieties.PetTypes" class="pet-filter"></select>
            </label>
            <label class="pet-label" data-title="Color">
                <select name="selectedPetColor" asp-for="@Model.Varieties.SelectedPetColor" asp-items="@Model.Varieties.PetColors" class="pet-filter"></select>
            </label>
            <input id="searchpets" type="submit" value="Search" class="rounded-lg"/>

        </form>
    </div>
</section>


<div class="container">
    @if (Model.Pets.Any())
    {
        <div class="pet-items row">
            @foreach (var pet in Model.Pets)
            {
                <div class="pet-item col-md-4">
                    <partial name="_PetItem" for="@pet" />
                </div>
            }
        </div>
    }
    else
    {
        <div class="pet-items row">
            NO PETS AVAILABLE WITH THAT SEARCH CONDITION
        </div>
    }
</div>